<div class="content-section">
  <div class="row col-xxl">
    <div class="col-xl-5">
      <div class="mad-offset-right with-top-space">
        <div class="mad-section-side-title top-space-2 right-side">
          Why Choose Us
        </div>
        <!--================ Icon Boxes ================-->
        <div class="mad-icon-boxes item-col-2">
          <div class="mad-col">
            <!--================ Icon Box ================-->
            <article class="mad-icon-box">
              <i class="mad-icon-box-icon"
                ><img class="svg" src="sushi_svg_icons/stones.svg" alt="" /></i
              >
              <div class="mad-icon-box-content">
                <h6 class="mad-icon-box-title">Authentic Japanese</h6>
                <p>
                  Sed laoreet aliquam leo. Ut tellus dolor, <br /> dapibus eget,
                  elementum vel cursus.
                </p>
              </div>
            </article>
            <!--================ End of Icon Box ================-->
          </div>
          <div class="mad-col">
            <!--================ Icon Box ================-->
            <article class="mad-icon-box">
              <i class="mad-icon-box-icon"
                ><img class="svg" src="sushi_svg_icons/fish.svg" alt="" /></i
              >
              <div class="mad-icon-box-content">
                <h6 class="mad-icon-box-title">Always Fresh</h6>
                <p>
                  Aenean auctor wisi et urna. Aliquam <br /> erat volutpat. Duis
                  ac turpis.
                </p>
              </div>
            </article>
            <!--================ End of Icon Box ================-->
          </div>
          <div class="mad-col">
            <!--================ Icon Box ================-->
            <article class="mad-icon-box">
              <i class="mad-icon-box-icon"
                ><img class="svg" src="sushi_svg_icons/bamboo.svg" alt="" /></i
              >
              <div class="mad-icon-box-content">
                <h6 class="mad-icon-box-title">No Additives</h6>
                <p>
                  Suspendisse sollicitudin velit sed leo. <br /> Ut pharetra
                  augue nec augue.
                </p>
              </div>
            </article>
            <!--================ End of Icon Box ================-->
          </div>
          <div class="mad-col">
            <!--================ Icon Box ================-->
            <article class="mad-icon-box">
              <i class="mad-icon-box-icon"
                ><img
                  class="svg"
                  src="sushi_svg_icons/tableware.svg"
                  alt=""
                /></i
              >
              <div class="mad-icon-box-content">
                <h6 class="mad-icon-box-title">Creative Menu</h6>
                <p>
                  Vestibulum libero nisl, porta vel, scelerisque eget, malesuada
                  at, neque.
                </p>
              </div>
            </article>
            <!--================ End of Icon Box ================-->
          </div>
        </div>
        <!--================ End of Icon Boxes ================-->
      </div>
    </div>
  </div>
</div>
