<footer id="mad-footer" class="mad-footer style-3">
  <!--================ Footer row ================-->
  <div class="mad-footer-main">
    <div class="container">
      <div class="row vr-size-1">
        <div class="col-md-4">
          <!--================ Widget ================-->
          <section class="mad-widget">
            <h5 class="mad-widget-title">We Are Open</h5>
            <div class="mad-timetable mad-vr-list">
              <ul>
                <li>
                  <div class="mad-tt-title">Brunch</div>
                  Saturday: 10am – 2pm
                </li>
                <li>
                  <div class="mad-tt-title">Dinner</div>
                  Monday – Thursday: 5pm – 10pm <br>
                  Friday – Saturday: 4pm – 11pm
                </li>
                <li>
                  <div class="mad-tt-title">Happy Hour</div>
                  Monday – Thursday: 5pm – 6pm <br>
                  Friday – Saturday: 2pm – 4pm
                </li>
              </ul>
            </div>
          </section>
          <!--================ End of Widget ================-->
        </div>
        <div class="col-md-4">
          <!--================ Widget ================-->
          <section class="mad-widget">
            <a href="#" class="mad-logo content-element-3"><img src="images/logo3.png" alt=""></a>
            <div class="mad-vr-list content-element-5">
              <ul>
                <li>
                  56 12th Ave, <br>
                  New York, NY 10011 <br>
                  <a href="#" class="mad-dir mad-link">Get Direction</a>
                </li>
                <li>
                  +1 800 603 6035 <br>
                  +1 800 603 6036 <br>
                  <a href="#" class="mad-link">mail@companyname.com</a>
                </li>
              </ul>
            </div>
            <div class="mad-social-icons style-2 size-big">
              <ul class="justify-content-center">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-tripadvisor"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
              </ul>
            </div>
          </section>
          <!--================ End of Widget ================-->
        </div>
        <div class="col-md-4">
          <!--================ Widget ================-->
          <section class="mad-widget">
            <h5 class="mad-widget-title">Useful Links</h5>
            <div class="mad-vr-list">
              <ul>
                <li><a href="#" class="mad-link">Home</a></li>
                <li><a href="#" class="mad-link">About</a></li>
                <li><a href="#" class="mad-link">Menu</a></li>
                <li><a href="#" class="mad-link">Events</a></li>
                <li><a href="#" class="mad-link">Contact</a></li>
                <li><a href="#" class="mad-link">News</a></li>
                <li><a href="#" class="mad-link">Reservation</a></li>
              </ul>
            </div>
          </section>
          <!--================ End of Widget ================-->
        </div>
      </div>
    </div>
  </div>
  <!--================ End of Footer row ================-->
  <p class="copyrights">Copyright © 2020 <a href="#">SushiFushi</a>.
    All Rights Reserved.</p>
</footer>