<div class="mad-section no-pd mad-section--stretched-content-no-px">
  <div class="mad-gallery">
    <div class="mad-gallery-item x2">
      <a href="#"
        ><img
          src="https://images.pexels.com/photos/11594220/pexels-photo-11594220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
        /></a
      >
    </div>
    <div class="mad-gallery-item">
      <a href="#"
        ><img
          src="https://images.pexels.com/photos/11594220/pexels-photo-11594220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
        /></a
      >
    </div>
    <div class="mad-gallery-item">
      <a href="#"
        ><img
          src="https://images.pexels.com/photos/11594220/pexels-photo-11594220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2.jpg"
          alt=""
        /></a
      >
    </div>
    <div class="mad-gallery-item">
      <a href="#"
        ><img
          src="https://images.pexels.com/photos/11594220/pexels-photo-11594220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
        /></a
      >
    </div>
    <div class="mad-gallery-item x2">
      <a href="#"
        ><img
          src="https://images.pexels.com/photos/11594220/pexels-photo-11594220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
        /></a
      >
    </div>
    <div class="mad-gallery-item">
      <a href="#"
        ><img
          src="https://images.pexels.com/photos/11594220/pexels-photo-11594220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
        /></a
      >
    </div>
  </div>
</div>
