<div class="content-section">
  <div class="row vr-size-2 align-items-center justify-content-between">
    <div class="col-lg-5">
      <h2 class="mad-title">Our Menu</h2>
      <p class="content-element-7">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris
        fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor,
        dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi
        et urna. Aliquam erat volutpat. Duis ac turpis.
      </p>
      <div class="btn-set">
        <a href="#" class="btn">Drink Menu</a>
        <a href="#" class="btn">Food Menu</a>
      </div>
    </div>
    <div class="col-lg-6">
      <figure class="mad-mark">
        <img
          class="hero-image"
          src="https://images.pexels.com/photos/11594220/pexels-photo-11594220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
          alt=""
        />
      </figure>
    </div>
  </div>
</div>
<style>
  .hero-image {
    object-fit: cover;
    height: 450px;
    width: 100%;
  }
</style>
