<div class="content-section">
  <div class="row">
    <div class="col-lg">
      <div class="mad-testimonials with-bg">
        <div class="mad-testimonial">
          <div data-estimate="5" class="mad-rating"></div>
          <div class="mad-testiomonial-info">
            <blockquote>
              <p>
                “Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut
                tellus dolor, dapibus eget, elementum vel, cursus eleifend,
                elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac
                turpis.”
              </p>
            </blockquote>
          </div>
          <div class="mad-author">
            <div class="mad-author-info">
              <cite>Mark & Rebecca Johnson, CA, USA</cite>
              <span><img src="images/visor.png" alt="" /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="mad-testimonials with-bg style-2">
        <div class="mad-testimonial">
          <div data-estimate="5" class="mad-rating"></div>
          <div class="mad-testiomonial-info">
            <blockquote>
              <p>
                “Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut
                tellus dolor, dapibus eget, elementum vel, cursus eleifend,
                elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac
                turpis.”
              </p>
            </blockquote>
          </div>
          <div class="mad-author">
            <div class="mad-author-info">
              <cite>Mark & Rebecca Johnson, CA, USA</cite>
              <span><img src="images/visor2.png" alt="" /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
