<div class="content-section">
  <div class="row col-xxl align-items-center row-reverse">
    <div class="col-xl-7">
      <div class="mad-offset-left">
        <div class="mad-section-side-title top-space rotate">Who We Are</div>
        <h2>
          We bring together the freshest <br />
           taste and Japanese cuisine.
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris
          fermentum dictum magna. Sed <br /> laoreet aliquam leo. Ut tellus
          dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean <br
          /> auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
        </p>
        <a href="#" class="mad-read-more big-size"
          >More About Us <img
            src="sushi_svg_icons/shrimp.svg"
            alt=""
            class="svg"
          /></a
        >
      </div>
    </div>
    <div class="col-xl-5">
      <figure><img src="images/723x464_img1.jpg" alt="" /></figure>
    </div>
  </div>
</div>



