---
import Layout from "../../layouts/Layout.astro";
import PageHeader from "../../components/PageHeader.astro";

---

<Layout title="Menu">
  <PageHeader title="Menu" />
  <div class="content-section">
    <div>
      <div class="row vr-size-4">
        <div class="col-lg-6">
          <div class="content-element-8">
            <h4 class="mad-color-title">Sushi & Sashimi</h4>
            <!-- Our Specifications -->
            <div class="mad-specs">
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Avocado Sashimi</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$7.90</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">Sliced fresh avocado</div>
                      <a href="#" class="mad-link">vegetarian</a>,
                      <a href="#" class="mad-link">vegan</a>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Maguro Sashimi</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$9.90</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">Sliced raw fresh tuna</div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Sake Sashimi</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$9.90</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">Sliced raw fresh salmon</div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Ika Geso Sushi</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$3.50</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">Squid legs sushi</div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Maguro Sushi</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$3.50</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">Tuna sushi</div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
            </div>
            <!-- End of Our Specifications -->
          </div>
          <div class="content-element-8">
            <h4 class="mad-color-title">Sushi Rolls</h4>
            <!-- Our Specifications -->
            <div class="mad-specs">
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Nuka Zuke Maki</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$3.90</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">Pickled vegetables rolls</div>
                      <a href="#" class="mad-link">vegetarian</a>,
                      <a href="#" class="mad-link">vegan</a>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Sake Maki</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$4.90</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">Salmon rolls</div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Negi Sake Maki</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$4.90</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">Salmon & spring onion rolls</div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Tuna Maki</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$4.90</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">Cooked tuna rolls</div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
            </div>
            <!-- End of Our Specifications -->
          </div>
        </div>
        <div class="col-lg-6">
          <div class="content-element-8">
            <h4 class="mad-color-title">Hot Entrees</h4>
            <!-- Our Specifications -->
            <div class="mad-specs">
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Fried Rice</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$9.90</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">
                        Full or half order, cooked with carrots, onions,
                        scallions, eggs and your choice of
                        chicken/beef/shrimp/smoked/salmon/seafood/veggies
                      </div>
                      <a href="#" class="mad-link">vegetarian</a>,
                      <a href="#" class="mad-link">vegan</a>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Surf and Turf Bowl</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$19.00</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">
                        Hot pot bowl with steamed rice, shrimp, scallop, beef,
                        mixed veggies and red pickle
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Salmon Japanese Pasta</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$22.00</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">
                        Grilled salmon topped with basil pesto. Served with
                        Japanese pasta, garlic butter, broccoli and red pickle
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Eurasia Veggies sauté</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$16.00</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">
                        Tofu, eggplant, zucchini, carrots, broccoli, mushrooms,
                        bell peppers and Asian vegetables
                      </div>
                      <a href="#" class="mad-link">vegetarian</a>,
                      <a href="#" class="mad-link">vegan</a>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Katzu</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$15.50</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">
                        Cutlet fried in Japanese panko breadcrumbs, with
                        carrots, broccoli, katzu BBQ sauce and your choice of
                        chicken or pork
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
            </div>
            <!-- End of Our Specifications -->
          </div>
          <div class="content-element-8">
            <h4 class="mad-color-title">Desserts</h4>
            <!-- Our Specifications -->
            <div class="mad-specs">
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Fried Cheesecake</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$9.00</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">
                        Cheesecake wrapped with thin crust and drizzled with
                        cinnamon powder and brown sugar. Served with vanilla ice
                        cream
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Kakigori</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$8.00</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">
                        Japanese shaved ice with green tea, red bean, fruit
                        jelly and topped with green tea ice cream
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
              <div class="mad-col">
                <!-- Specification item -->
                <div class="mad-spec-item">
                  <div class="mad-spec-info">
                    <div class="mad-spec-header">
                      <div class="mad-spec-title">Tempura Ice Cream</div>
                      <div class="mad-line"></div>
                      <div class="mad-spec-price">$7.00</div>
                    </div>
                    <div class="mad-spec-tags">
                      <div class="mad-spec-el">
                        Vanilla or green tea ice cream wrapped with cake and
                        fried with tempura
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of Specification item -->
              </div>
            </div>
            <!-- End of Our Specifications -->
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
